<div class="container-fluid">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="form-group">
			<label>Game Name</label>
			<input type="text" placeholder="Game Name" name="gamename" class="form-control"[(ngModel)]="gamename">
		</div>
		<div class="form-group">
			<label>Username</label>
			<input type="text" placeholder="Username" name="username" class="form-control" [(ngModel)]="username">
		</div>
		<button (click)="createNewGame()" class="btn btn-quixx">Create Game</button>
		<button routerLink="" class="btn btn-quixx">Back</button>
	</div>

</div>
