.dieBox{
  border-radius: 25px;
	background-color: #fff3d3;
	width: 50%;
	padding: 10px;
}

.die{
	font-size:1.5em;
	margin:5px;
}
.redDie{
	color: #E53F30;
}

.yellowDie{
	color: #F9C841;
}

.greenDie{
	color: #4AA954;
}

.blueDie {
	color: #386BA0;
}
